TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
BASE_DIR=/home/parsaoran66/Documents/Yehosyua/GROMACS/Run/runs
GMX_PATH=/home/parsaoran66/opt/gromacs-2024.6/bin/gmx
POLL_SECONDS=60
STALL_SECONDS=1800
STOP_CONFIRM_SECONDS=300
